body {
    text-align: center;
    background: linear-gradient(to bottom right, navy,black);
    color: white;
    margin: 10px 10px 20px 10px;
    border: 2px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.ext_pgs {
    display: flex;
    flex-direction: column;
}

.ext_page {
    margin: 10px 30px 10px 30px;
    width: auto;
    border-radius: 30px;
}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    padding: 10px 0 0 0;
}

.page-description {
    padding: 0 30px 10px 30px;
}

.about-box {
    display: flex;
    flex-direction: column; 
    border: 1px solid white;
    border-radius: 30px;
    margin: 10px;
    width: 75%;
    height: auto;
}

.about-box p {
    padding: 0 30px 0 30px;
}



@media (min-width: 768px)
{
    .ext_pgs {
        margin: 10px 10px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .ext_page {
        width: 300px;
        height: auto;
        border: 1px solid black;
        margin: 10px 10px 10px 10px;
    }
    .about-content {
        display: flex;
        flex-direction: row;
        align-items: normal;
    }
    
}



hr {
    border: 1px solid black;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.0rem;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: block;
    border-color: black;
    margin: 0 0px 20px 0px;
}