body {
    text-align: center;
    background-color: rgb(215, 230, 235);
    margin: 10px 50px 20px 10px;
    border: 2px solid black;
}

.ext_pgs {
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
}

.ext_page {
    width: 300px;
    height: auto;
    border: 1px solid black;
    margin: 0 10px 0 10px;
}



hr {
    border: 1px solid black;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.0rem;
}
p {
    text-align: left;
    font-size: 2.0rem;
    border: block;
    border-color: black;
    margin: 0 40px 20px 40px;
    padding: 30px;
}

important {
    font-size: 8.0rem;
    size: 8.0rem;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: plum;
    background-color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid black;
}