h1,h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.function-select-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menuButton {
    width: 200px;
    min-height: 60px;
    height: auto;
    border-radius: 10%;
    background-color: lightcoral;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
}

.f2btn {background-color: lightpink;}
.f3btn {background-color: lightgoldenrodyellow;}
.f4btn {background-color: lightgreen;}
.f5btn {background-color: lightblue;}
.f6btn {background-color: lavender;}