body {
    background-color: rgb(0, 20, 56);
    color: white;
    display: block;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 90%;
}

form {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 350px;
    width: auto;
}

.form-row{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.form-row label {
    text-align: right;
    width: 120px;
}

.function-select-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1,h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    display: flex;
    flex-direction: row;
    width: 200px;
}

label {
    width: 120px;
}

.menuButton {
    background-color: lightcoral;
    border: 3px solid black;
    border-radius: 10%;
    color: black;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    max-width: 150px;
    min-height: 60px;
    min-width: 80px;
    padding: 15px 32px;
    text-align: center;
    width: auto;
}

.f2btn {background-color: lightpink;}
.f3btn {background-color: lightgoldenrodyellow;}
.f4btn {background-color: lightgreen;}
.f5btn {background-color: lightblue;}
.f6btn {background-color: lavender;}

.submit {
    text-align: center;
    width: 80px;
}