body {
    background-color: navy;
    color: white;
    display: block;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 90%;
}

h1,h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.function-select-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menuButton {
    background-color: lightcoral;
    border: 3px solid black;
    border-radius: 10%;
    color: black;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    max-width: 150px;
    min-height: 60px;
    min-width: 80px;
    padding: 15px 32px;
    text-align: center;
    width: auto;
}

.f2btn {background-color: lightpink;}
.f3btn {background-color: lightgoldenrodyellow;}
.f4btn {background-color: lightgreen;}
.f5btn {background-color: lightblue;}
.f6btn {background-color: lavender;}