body {
    background-color: rgb(0, 20, 56);
    color: white;
    display: block;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.body-block {
    display: flex;
    flex-direction: row;
}

.body-chunk {
    display: flex;
    flex-direction: row;
    margin: 30px;
    max-width: 800px;
    vertical-align: top;
    width: 50%;
}

.button {
    text-align: center;
    width: 80px;
}

form {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 350px;
    vertical-align: top;
    width: auto;
}

#frmf1,
#frmf2,
#frmf3,
#frmf4,
#frmf5,
#frmf6 {
    display: none;
}

.form-row{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 5px;
}

.form-row label {
    padding: 0 10px 0 0;
    text-align: right;
    width: 120px;
}

.function-select-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1,h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    display: flex;
    flex-direction: row;
    width: 200px;
}

label {
    width: 120px;
}

.menuButton {
    background-color: lightcoral;
    border: 3px solid black;
    border-radius: 10%;
    color: black;
    cursor: pointer;
    font-size: 20px;
    height: auto;
    max-width: 150px;
    min-height: 60px;
    min-width: 80px;
    padding: 15px 32px;
    text-align: center;
    width: auto;
}

.f2btn {background-color: lightpink;}
.f3btn {background-color: lightgoldenrodyellow;}
.f4btn {background-color: lightgreen;}
.f5btn {background-color: lightblue;}
.f6btn {background-color: lavender;}

#Output {
    background-color: lightgray;
    border: 5px solid black;
    color: black;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    width: auto;
}

table {
    border-collapse: collapse;
    display: block;
    max-width: 800px;
    width: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightblue;
}

th {
    background-color:steelblue;
    font-size: 16px;
    font-weight: bold;
}

tr:hover {
    background-color: lightgreen;
}

